<!DOCTYPE html>
<html lang="eng">
<head>
	<meta chartset="UTF-8">
	<meta name="viewport" content="width=device-width, initialscale=1.0">
	<title>Our Funky Page</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
<div style="margin-top: 15px" class="ui container">

	<h1  class="ui center aligned orange header">TaDa!</h1>
	<form class="ui form" action="/add" method="post">
		<div class="field">
			<label class="ui label" for="title">Todo Title</label>
			<input class="ui input" type="text" name="title" placeholder="Enter Todo..."><button class="ui green button" type="submit">Add</button>
		</div>
	</form>




	{% for todo in todo_list%}
	<div class="ui segment">
		<p class="ui big header">{{ todo.id }} | {{todo.title}}</p>

		{% if todo.complete == False %}
			<span class="ui grey button">Not complete</span>
		{% else %}
			<span class="ui green button">Complete</span>
		{% endif %}

		<a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
		<a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>


	</div>
	{% endfor %}

</div>
</body>
</html>